/*
==============================================================
================== Start Global Variables ====================
==============================================================
*/

:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}

/*
==============================================================
=================== End Global Variables =====================
==============================================================


==============================================================
====================== start the Rules =======================
==============================================================
*/



* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 680px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 904px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1111px;
  }
}





/*
==============================================================
===================== End Global Rules ======================
==============================================================


==============================================================
===================== start the header =======================
==============================================================
*/
header {
  padding: 20px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .logo {
  width: var(--section-padding);
}

header .container .links {
  position: relative;
}

header .container .links:hover .icon span:nth-child(2) {
  width: 100%
}

header .container .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}



header .container .links .icon span {
  height: 2px;
  background-color: var(--secondary-color);
  margin: 2px;
}

header .container .links .icon span:first-child {
  width: 100%;
}

header .container .links .icon span:nth-child(2) {
  width: 60%;
  transition: var(--main-duration);
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  -ms-transition: var(--main-duration);
  -o-transition: var(--main-duration);
}

header .container .links .icon span:last-child {
  width: 100%;

}


header .container .links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0px;
  top: calc(100% + 15px);
  min-width: 150px;
  background-color: var(--section-background);
  display: none;
  z-index: 1;
}

header .container .links ul li a:hover {
  padding-left: 25px;
}


header .container .links ul li:not(li:last-child) {
  border-bottom: 1px solid var(--secondary-color);
}

header .container .links ul li a {
  padding: 15px;
  display: block;
  text-decoration: none;
  transition: var(--main-duration);
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  -ms-transition: var(--main-duration);
  -o-transition: var(--main-duration);
}

header .container .links ul::before {
  content: "";
  position: absolute;
  border: 15px solid;
  border-color: transparent transparent var(--section-background) transparent;
  top: -30px;
  right: 0px;
}

header .container .links:hover ul {
  display: block;
}

/*
==============================================================
===================== end the header =========================
==============================================================


==============================================================
=================== start the section ========================
==============================================================
*/

section {
  background-image: url(/img/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}

section .intro {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 320px;
  max-width: 100%;
  text-align: center;
}

section .intro h1 {
  margin: 0;
  font-size: 40px;
  color: var(--main-color);
}
section .intro p {
  line-height: 1.6;
}
/* 
==============================================================
==================== end the section =========================
============================================================== 


==============================================================
==================== start the feature =======================
==============================================================
*/
.feature .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  gap: 20px;
  text-align: center;
}
.feature {
  background-color: var(--section-background);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}


.fa-solid {
  font-size: 50px;
  color: var(--main-color);
}

.feature .container .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}

.feature .container .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}




/* 
==============================================================
==================== end the feature =========================
============================================================== 


==============================================================
==================== start the services ======================
==============================================================
*/
.special-title {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin:0;
}

.special-title+p {
  margin: -35px 0 0;
  text-align: center;
  font-size: 20px;
  color: #797979;
}

@media (max-width: 767px) {
  .special-title {
    font-size: var(--section-padding);
  }
}

.services{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}


/* 
==============================================================
==================== end the services =========================
============================================================== 


==============================================================
==================== strat the service ======================
==============================================================
*/

.ser-cont {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(271px, 1fr));
  gap: 30px;
}

.ser-cont .col{
  display: flex;
  row-gap: 5%;
  flex-direction: column;
}
.ser-cont .serv{
  display: flex;
  gap: 30px;
}
@media (max-width: 767px) {
  .ser-cont .serv{
    flex-direction: column;
    text-align: center;
    
  }
}
.ser-cont .serv i {
  font-size: 50px;
  flex-basis: 20px;

}
.ser-cont .serv .text {
  flex: 1;
}
.ser-cont .serv .text h3 {
  margin: 0 0 15px;
}
.ser-cont .serv .text p {
  font-weight: 300;
  color: #777;
  line-height: 1.6;
}

.img{
  height: 350px;
  width: 200px;
  background-color: var(--section-background);
  position: relative;
}
.img::after{
  content: "";
  width: 75px;
  height: calc(100% + var(--section-padding));
  position: absolute;
  top: -30px;
  background-color: var(--secondary-color);
  right: -25px;
  z-index: -1;
}

@media (max-width:992px) {
  .img{
    display: none;
  }
}


/* 
==============================================================
==================== end the service =========================
============================================================== 


==============================================================
==================== strat the portfolio ======================
==============================================================
*/
.portfolio {
  background-color: var(--section-background);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.port{
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(271px, 1fr));
  gap: 20px;
  /* margin-bottom: 100px; */
}
.card{
  background-color: white;
}
.port .card img{
  width: 100%;
}
.port .card .info h3{
  padding-left: 10px;
}
.port .card .info p {
  color: #777;
  line-height: 1.6;
  padding-left: 10px;
}
/* 
==============================================================
==================== end the portfolio =========================
============================================================== 


==============================================================
==================== strat the about ======================
==============================================================
*/
.about .info{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  gap: 200px;
  margin-bottom: 100px;
  position: relative;
}
@media (max-width:991px) {
  .about .info{
    flex-direction: column;
    text-align: center;
  }
}

.about .info .col1 img{
height: 375px;
width: 250px;
}


.about .info .col1{
  position: relative;
}

.about .info .col1::before{
  content: "";
  position: absolute;
  height: calc(100% + var(--section-padding));
  background-color: #ebeced;
  width: 100px;
  top: -30px;
  z-index: -1;
  left: -35px;
}
.about .info .col1::after{
  content: "";
  position: absolute;
  height: 70%;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  top: -30px;
  z-index: -1;
  right: -60%;
  width: 40%;
}
@media (max-width:991px) {
  .about .info .col1::before,
  .about .info .col1::after{
    display: none;
  }
  }


.p1{
  font-weight: bold;
  line-height: 2;
  position: relative;
}

.p2{
  line-height: 2;
  color: #777;
}


hr{
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}

/* 
==============================================================
====================== end the about =========================
============================================================== 


==============================================================
===================== strat the contact ======================
==============================================================
*/
.con{
  text-align: center;
  margin-top: 100px;
}

.email div{
  font-size:35px;
  font-weight: 800;
  color: var(--secondary-color);
}
.email a{
  text-decoration: none;
  color: var(--main-color);
  font-size: 25px;
  font-weight: 800;
}


@media (max-width:767px) {
  .email div{
    font-size: 25px;
  }
}

.fa-brands{
  color:var(--main-color)
}

/* 
==============================================================
==================== end the contact =========================
============================================================== 


==============================================================
===================== strat the footer =======================
==============================================================
*/

footer{
  height: 80px;
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  position: relative;
}
footer div{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
footer span{
  color: var(--main-color);
  font-weight: 800;
}
